@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@500&family=Poppins:wght@500;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Repeated Css Class */
.container{
    max-width: 1180px;
    margin-inline: auto;
}
a{
    text-decoration: none;
}
h1{
    font-size: 40px;
    font-family: lato;
    margin: 30px 0px;
}

p{
    font-size: 1.25rem;
    font-family: Montserrat;
}
.primary-btn{
    background-color: #E55473;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease-out;
    text-transform: uppercase;
}
.primary-btn:hover{
    background-color: #982840;
}
/* Banner Section CSS Start */
.banner-section{
    height: 650px;
    padding: 20px 0px;
    background-color: rgba(229, 84, 115, 0.10);
}
.full-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    width: 450px;

}
.banner-content h1{
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: lato;
    padding-bottom: 15px;
}
.banner-content p{
    padding-bottom: 30px;
}

.banner-img{
    display: flex;
    justify-content: flex-end;
}
.banner-img img{
    width: 79%;
    padding: 0px;
    margin: 0px;
}
/* Banner Section CSS End */
/* Featured Section CSS Start */
.featured-section{
    height: 700px;
    padding-top: 80px;
}
.featured-section-title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
.featured-section-title h1{
    font-size: 40px;
    font-family: lato;
}
.featured-section-title p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
    text-align: center;
    line-height: 30px;
}

.featured-flowers{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    
}
.featured-flower:nth-child(2) {
    background-color: rgba(5, 151, 160, 0.15);
}
.featured-flower:nth-child(3) {
    background-color:rgba(71, 125, 17, 0.15);
}

.featured-flower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px; */
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 50% 50% 0% 0%;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;

}
.featured-flower img{
    width: 100%;
}
.featured-title{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.featured-title a{
    text-decoration: underline;
    font-size: 24px;
    font-weight: 500;
    color: black;
    padding-top: 20px;

}
/* Featured Section CSS End */